/*Head, doc, and Meta Styles*/
html{
	font-family:arial,sans-serif;
	font-size:2.25vh;
}
#bodytag{
	margin:0px;
	background-color:lightgrey;
}


/*Header Styles*/
#headertag{
	border-bottom:5px solid #5e8c61;
	width:100%;
	position:fixed;
	height:10vh;
	background-color:#293a7a;
	margin-top:-12vh;
	padding-left:3.5%;
	z-index:1;
	
}
#homebutton:visited,#homebutton:link,#homebutton:visited:active,#homebutton:link:active{
/*this covers all iterations of the title*/

color:white;
text-decoration-line:none;
}



#small{
	display:inline;
	font-size: .6em;
}

#darkmode{
	position:fixed;
	top:2vh;
	right:3vw;
	height:6vh;
	width:6vh;
	
	
	
}

/*overall body styles*/

#body{
margin-top:12vh;
}


/*sidebar styles*/

.button{
	background-color:#000034;  /*000034,5e8c61*/
	padding-top:4%;
	padding-bottom:4%;
}

#sidebar {
float: right;
position:relative;
width:90%;
margin:5%;
margin-top:0%;
text-align:center;
z-index:0;
}

#sidebarh3{
	margin-top:0px;
}

#sidehome{
	border-radius: 30px	30px 0px 0px;
}

#sideabout{
	border-radius: 0px 0px 30px 30px;
}

.sidebarbutton:visited,.sidebarbutton:link{
	color:white;
	text-decoration-line:none;
}

.sidebarbutton:hover,.sidebarbutton:active{
	color:#faa916;
	text-decoration-line:none;
}

/*Content styles*/
#maintitle{
	color:#5e8c61;
}
#main{

float:right;
position:relative;
margin:1%;
margin-top:0%;
padding:3%;
width:92%;
background-color:white;
border-radius:30px;
z-index:0;
color:black;
}



/*footer*/
.wrapper{
	
	height:78vh;
	width:100%;
}

#footertag{
	width:100%;
	background-color:#293a7a;
	height:10vh;
	position:relative;
	float:right;
	bottom:0;
	color:white;
	text-align:center;
}





/*modal popup*/
#consent-modal-outer{
	position:fixed;
	background-color:rgba(.1,.1,.1,.6);
	height:100%;
	width:100%;
	top:0px;
	
}
#consent-modal{
	position:fixed;
	height:70vh;
	width:80vw;
	bottom:15vh;
	left:10vw;
	background-color:#293a7a;
	text-align:center;
	border-radius:45px;
	
}
#modaltitle{
	
	margin-top:40px;
	margin-bottom:40px;
	color:#5e8c61;
	
}
#modaltext{
	color:white;
}

#consent-yes{
	margin:10px;
	padding:2vh;
	background-color:#5e8c61;
	height:3vh;
	border-radius:20px;
	color:white;
	cursor:pointer;
	
}
#consent-no{
	
	margin:10px;
	padding:2vh;
	border-radius:20px;
	background-color:#5e8c61;
	height:3vh;
	color:white;
	cursor:pointer;
	font-size:2.15vh;
	
}

